:root{

    --font1: "Oswald, sans-serif";
    --prim: #131c29;
    --sec: #ff8901;
    --tert: #f5f5f7;
    --btnColor: #213349;
    --date1: #be8442;
    --date2: #be6142;
    --date3: #bd425e;
    --footerSec2: #0b1016;

    --grad: radial-gradient( 
        at top center,
        #38587e,
        #031620)
;



* {box-sizing: border-box;}


/* names tag*/

body{
    margin: 0;
    padding: 0;
    background-color: var(--tert);
}

/* classes */

.clear{
    clear: both;
}
.container {
    margin: 0 auto;
    width: 96%;
    border: 1px solid coral;
}

.content-box
{
    width: calc(100% / 3);
    border: 1px solid coral;
    float: left;
    border-top: 1px solid #aaa;
}

.content-box:nth-child(3){
    border-right: none;
}


.content-heading {
    color: var(--prim);
    font-family: var(--font1);
    text-transform: uppercase;
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    font-weight: 400;

}
 .content-img{
    display: block;
    width: 100%;
 }

 .content-text {
    color: #777;
    font-family:#ccc;
 }
 .date, .month {
    display: block;
    color: var(--tert);
    font-family: var(--font1);
    text-align:center;
    text-transform: uppercase;
 }

 .date-div {
    margin-right: 20px ;
    width: 75%;
    height: : 75px;
    border-radius: 5px;
 }

 .month { 

    font-size: 18px;
 }

 .fs2-text {
    margin: 0;
    color: #777;
    font-family: sans-serif;

 }

 .footer-content{
    width: calc(100% / 3);
    border: 1px solid yellow;
    float: left;
 }

 .footer-headings{
    color: var(--tert);
    font-family: var(--font)
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    font-weight 400;
    text-transform: uppercase;
 }

.hero-img{
    display: block;
    width: 100%;
}

.hs1-item {
    display: inline;
    padding:0 12px;
    text-transform: uppercase;
    border-right: 1px solid #555;
    font-family: sans-serif;
}

.hs1-link {
    color: #555;
    text-decoration: none;
}

.hs2-item {
    display: inline;
    margin: 0 8px;
    padding: 10px 18px;
    text-transform: uppercase;
    background-color: var(--btnColor);
    border-radius: 5px;
}
.hs1-item:last-child {
    padding: 0;
    border: none;

}

.hs2-item:last-child {
    margin-right: 0;
}

.hs2-item:hover {
    color: var(--sec);
}

.more-btn {
    color: var(--ter);
    padding: 10px 12px;
    color: var(--tert);
    text-transform: uppercase;
    background-color: var(--btnColor);
    border: none;
    border-radius: 5px;
}

.news-block {
    width: 300px;
}

.news-heading {
    margin:0;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.news-item {
    margin-bottom: 20px;
}
.opps-heading{
    margin: 0;
    font-weight: 400;
}

.opps-item {
    padding-bottom: 32px;
    font-family: sans-serif;
}
.opps-link{

    color var(--tert);
    text-decoration: none;
}

.opps-text {
    margin: 0;
    color: #555
}

.service-item{
    font-family: sans-serif;
    font size 10px
    line-height: 3;
}

.services-link{
    color: var(--tert);
    text-decoration: none;
}
.slider{
    width: 25px;
    height: 25px;
    background: #777;
    border-radius: 50%;
    float: left;
}
.sliders{
    margin: 16px auto;
    width: 90px;
    height: 30px;
    border: 1px solid orange;
}

.slider:hover {
    background: var(--sec);
}
.visually-hidden{
    display: none;
}


/* ids */

#dateDiv1{
    background-color: var(--date1);
    
}

#dateDiv2{

    background-color: var(--date2);
}

#dateDiv3{
    background-color: var(--date3);
}
#footerSection1{
    padding: 56px 0 64px;
    background-color: var(--prim);
    
}

#footerSection1{
    padding:56px 0 64px;

}
#headerSection1{
    width:100%;
    padding: 8px 0;
    background-color: var(--prim);
    background-image: var(--grad);
}

#hs1List, #hs1Text {
    width: 50%;
    margin: 0;
    border: 1px solid white;
    float: left;
}

#hs1List{
    padding-left: 0;
    list-style-type: none;
    text-align: right;
}

#logo, #topNav {
        width: 50%;
        float: left;
        border: 1px solid dodgerblue;

 }

#hs2List{
    font-family: sans-serif;
    text-transform: uppercase;
}

#newsList{
    padding: 0;
    list-style: none;
}
#oppsList{
    padding-left: 18px;
    list-style-image: url('img/chat.png');
}
#servicesList {

    list-style-image: url('img/cog.png');
    padding-left: 18px;
}